
h1 {
    color:deeppink;
}
*{
    background: #f0f8ff
}

.header{
    /*background-color: lightpink;*/
    border:solid;
    display: flex;
    justify-content: center;
    font-family: "Castellar";
}
.aboutme{
    /*background-color:lightpink;*/
    border:solid;
    display: flex;
    justify-content: space-around;
}
.subheader1{
    /*background-color:lightpink;*/
    border:solid black;
    display: flex;
    justify-content: space-around;
    font-family:"Edwardian Calligraphy ITC";
    font-weight: bold;
    font-size: 30px;
    color: rebeccapurple;
}
.subheader2{
    /*background-color:lightpink;*/
    border:solid black;
    display: flex;
    justify-content: space-around;
    font-family: "Agency FB";
    font-size: 20px;
    color: red;
}

.games{
    border:solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.games img{
    border: 2px solid black;
    border-radius: 50px;
}

p,h2{
    text-align: center;
    font-family: "Colonna MT";
    font-weight: bold;
    font-style: italic;
    color:purple;
    font-size: 30px;

}
.end{
    /*background-color: lightpink;
    border: lightpink;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}